.food-card-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2%;
}
.food-card{
  display: flex;
  flex-direction: column;
  background-color: #bbeae5;
  border: 3px solid teal;
  max-width: 40%;
  
}
.food-card > img {
  max-width: 50%;
  align-items: center;
}
.card-text-info{
  align-items: center;
}
.chat-card{
  display: flex;
  flex-wrap: wrap;
}
